/* article {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
article {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--color-gray-800);
  overflow-y: auto;
}

.expense_sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}